@import '../variables'; // variables & functions

.body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2.5rem;
    background-color: #fafafa;
}